* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff; /* Милый светлый фон */
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Запрет прокрутки */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
    width: 100%;
}

#menu, #gameOverDialog {
    animation: fade-in 1s ease-in-out forwards;
}

#menu h1 {
    color: #2f4f4f;
    margin-bottom: 20px;
}

button {
    background-color: #48c774; /* Зеленая кнопка */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #329657;
}

.hidden {
    display: none;
}

#game {
    position: relative;
}

#gameCanvas {
    background-color: #f5f5f5;
    border: 2px solid #2f4f4f;
    margin: auto;
    display: block;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}

#gameOverDialog {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
